html, body {
    height: 100%;
    margin: 0;
}
#map {
        height: 90%;
        width: 100vw;
    }

h1, p{
    padding-left: 5px;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

.content {
    background-color:#fafafa;
    padding: 10px 5px 10px 5px;
    margin: 0px 0px 5px 0px;
}

.container {
    width:85vw;
    display:flex;
    justify-content: space-around;
}



@media screen and (max-width:600px) {
    .container {
        flex-direction:column;
    }
    
    .popupImg {
        width:100%;
    }
}

@media screen and (min-width:599px) {
    .content {
        margin-right: 10px;
    }

    .popupImg {
        max-height:30vw;
    }


}

